$nav-image-size: 1.8rem;
$nav-image-margin: 0.4rem;
$nav-image-margin-left: $nav-image-margin*3;

$title_font_size: 10rem;
$secondary_title_font_size: 4rem;
$subtitle_font_size: 2rem;

$background_color: #14212a;
$accent: #b4fff3;
$pink: #c1b3ff;
$gold: #ffcf64;

$standard_transition: 0.2s;

$border_width: 3px;

